/* Sass/SCSS function to convert from px to rem */
/* Usage -- font-size: rem(16); */

@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #202020;
  color: #fff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1.rem {
  font-size: rem(32);
}

h2.rem {
  font-size: rem(24);
}

p.rem {
  font-size: rem(16);
  margin-bottom: rem(24);
}

body.has-sidebar {
  display: grid;
  gap: rem(32);
  grid-template-columns: 1fr rem(300);
}

@media (width < rem(1000)) {
  body.has-sidebar {
    grid-template-columns: 1fr;
  }
}

body.has-sidebar aside {
  background-color: rgb(60, 12, 183);
  color: #fff;
  padding: rem(16);
}
